In [99]:
import pandas as pd
import datetime as dt
# help(at)

## Python DateTime

In [100]:
n = dt.datetime.now()
n

datetime.datetime(2023, 8, 26, 17, 27, 7, 309162)

In [101]:
t = dt.date.today()
t

datetime.date(2023, 8, 26)

In [102]:
d1 = dt.datetime(2022,9,3,15,0)
d1

datetime.datetime(2022, 9, 3, 15, 0)

In [103]:
#String -> DateTime
d2 = dt.datetime.strptime("2012-9-3 14:30:21", "%Y-%m-%d %H:%M:%S") #format ต้องตรงกับเลขวันที่
d2

datetime.datetime(2012, 9, 3, 14, 30, 21)

In [104]:
d2.weekday()

0

In [105]:
#DateTime -> String
d2.strftime("%A %d-%m-%Y %H:%M:%S")

'Monday 03-09-2012 14:30:21'

### Timedelta

In [106]:
d1 - d2

datetime.timedelta(days=3652, seconds=1779)

In [107]:
td = dt.timedelta(days = 30)

In [108]:
d2 + td

datetime.datetime(2012, 10, 3, 14, 30, 21)

## Pandas TimeStamp

In [109]:
pd.to_datetime("2023-08-26 16:51:21")

Timestamp('2023-08-26 16:51:21')

In [110]:
pd.to_datetime("Aug 26 2023 3:40:45 PM")

Timestamp('2023-08-26 15:40:45')

In [111]:
pd.to_datetime(["Aug 26 2023 3:40:45 PM", "Aug 26 2022"])

DatetimeIndex(['2023-08-26 15:40:45', '2022-08-26 00:00:00'], dtype='datetime64[ns]', freq=None)

In [112]:
pd.to_datetime("230626", format="%y%m%d")

Timestamp('2023-06-26 00:00:00')

In [113]:
pd.to_datetime("6-8-2023") #<- 6 คือ m, 8 คือ d

Timestamp('2023-06-08 00:00:00')

In [114]:
pd.to_datetime("6-8-2023", dayfirst=True) #วัน เดือน ปี

Timestamp('2023-08-06 00:00:00')

In [115]:
timestamp_S = pd.to_datetime(["12/11/2023", "Nov 9 1996", "29 Aug 1986"])
timestamp_S

DatetimeIndex(['2023-12-11', '1996-11-09', '1986-08-29'], dtype='datetime64[ns]', freq=None)

In [116]:
timestamp_S.day

Int64Index([11, 9, 29], dtype='int64')

In [117]:
timestamp_S.day_name()

Index(['Monday', 'Saturday', 'Friday'], dtype='object')

In [118]:
timestamp_S.month

Int64Index([12, 11, 8], dtype='int64')

In [119]:
timestamp_S.year

Int64Index([2023, 1996, 1986], dtype='int64')

In [120]:
timestamp_S.quarter

Int64Index([4, 4, 3], dtype='int64')

In [121]:
timestamp_S.weekday

Int64Index([0, 5, 4], dtype='int64')

In [122]:
timestamp_S.weekofyear

/var/folders/g6/2f8wm3017f54d5k1qsxk012c0000gn/T/ipykernel_21661/944933537.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  timestamp_S.weekofyear

Int64Index([50, 45, 35], dtype='int64')

In [123]:
timestamp_S.isocalendar().week

2023-12-11    50
1996-11-09    45
1986-08-29    35
Name: week, dtype: UInt32

## Pandas Day_range

In [124]:
pd.date_range(start="2023-08-01", end="2023-08-26", freq="D")

DatetimeIndex(['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04',
               '2023-08-05', '2023-08-06', '2023-08-07', '2023-08-08',
               '2023-08-09', '2023-08-10', '2023-08-11', '2023-08-12',
               '2023-08-13', '2023-08-14', '2023-08-15', '2023-08-16',
               '2023-08-17', '2023-08-18', '2023-08-19', '2023-08-20',
               '2023-08-21', '2023-08-22', '2023-08-23', '2023-08-24',
               '2023-08-25', '2023-08-26'],
              dtype='datetime64[ns]', freq='D')

In [125]:
pd.date_range(start="2023-08-01", end="2023-08-26", freq="2D 12H")

DatetimeIndex(['2023-08-01 00:00:00', '2023-08-03 12:00:00',
               '2023-08-06 00:00:00', '2023-08-08 12:00:00',
               '2023-08-11 00:00:00', '2023-08-13 12:00:00',
               '2023-08-16 00:00:00', '2023-08-18 12:00:00',
               '2023-08-21 00:00:00', '2023-08-23 12:00:00',
               '2023-08-26 00:00:00'],
              dtype='datetime64[ns]', freq='60H')

In [126]:
pd.date_range(start="2023-08-01", end="2023-08-26", periods=6)

DatetimeIndex(['2023-08-01', '2023-08-06', '2023-08-11', '2023-08-16',
               '2023-08-21', '2023-08-26'],
              dtype='datetime64[ns]', freq=None)

## Pandas TimeDelta

In [127]:
pd.to_timedelta("3D 15H")

Timedelta('3 days 15:00:00')

In [128]:
timestamp_S

DatetimeIndex(['2023-12-11', '1996-11-09', '1986-08-29'], dtype='datetime64[ns]', freq=None)

In [129]:
timestamp_S + pd.to_timedelta("3D 15H")

DatetimeIndex(['2023-12-14 15:00:00', '1996-11-12 15:00:00',
               '1986-09-01 15:00:00'],
              dtype='datetime64[ns]', freq=None)

In [130]:
timestamp_S[1] - timestamp_S[2]

Timedelta('3725 days 00:00:00')

## Pandas TimestampIndex -> Timestamp Set เป็นตาราง

In [131]:
path = "Datasets/kc_house_data.csv"
house_df = pd.read_csv(path)
house_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [132]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [134]:
house_df["date"] = pd.to_datetime(house_df.date)
house_df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [137]:
house_df = house_df.set_index("date")
house_df.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
date,,,,,,,,,,,,,,,,,,,,
2014-10-13,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
2014-12-09,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2015-02-25,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2014-12-09,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
2015-02-18,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [141]:
house_df.loc["2014-05-11", :] #select time str เฉพาะวันที่ 2014-05-11

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
date,,,,,,,,,,,,,,,,,,,,
2014-05-11,7234600786,842500.0,4,2.5,2160,5298,2.5,0,0,4,9,2160,0,1902,0,98122,47.6106,-122.310,1720,2283
2014-05-11,2461900492,368000.0,3,2.5,1370,1350,2.0,0,0,3,7,1010,360,2007,0,98136,47.5534,-122.382,1450,6000

In [142]:
house_df.loc["2014-05", :]

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
date,,,,,,,,,,,,,,,,,,,,
2014-05-12,7237550310,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
2014-05-27,9212900260,468000.0,2,1.00,1160,6000,1.0,0,0,4,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000
2014-05-28,114101516,310000.0,3,1.00,1430,19901,1.5,0,0,4,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
2014-05-29,6865200140,485000.0,4,1.00,1600,4300,1.5,0,0,4,7,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
2014-05-14,6300500875,385000.0,4,1.75,1620,4980,1.0,0,0,4,7,860,760,1947,0,98133,47.7025,-122.341,1400,4980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-05-20,8562790760,785000.0,4,3.50,3070,4684,2.0,0,0,3,10,2190,880,2009,0,98027,47.5316,-122.076,2290,2664
2014-05-07,1931300090,610950.0,3,3.00,1680,1570,3.0,0,0,3,8,1680,0,2014,0,98103,47.6572,-122.346,1640,4800
2014-05-29,7011201004,645000.0,3,3.25,1730,1229,2.0,0,2,3,9,1320,410,2008,0,98119,47.6374,-122.369,1710,1686
2014-05-14,7430200100,1222500.0,4,3.50,4910,9444,1.5,0,0,3,11,3110,1800,2007,0,98074,47.6502,-122.066,4560,11063
2014-05-21,263000018,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509

In [147]:
house_df.loc["2014-05-11":"2014 May 12", :]

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
date,,,,,,,,,,,,,,,,,,,,
2014-05-12,7237550310,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
2014-05-12,9822700295,885000.0,4,2.50,2830,5000,2.0,0,0,3,9,2830,0,1995,0,98105,47.6597,-122.290,1950,5000
2014-05-12,8929000270,453246.0,3,2.50,2010,2287,2.0,0,0,3,8,1390,620,2014,0,98029,47.5517,-121.998,1690,1662
2014-05-12,1653500070,927000.0,4,2.75,3300,12090,2.0,0,0,3,8,3300,0,1953,0,98004,47.6294,-122.218,3180,12239
2014-05-12,9828702519,490000.0,2,2.50,1230,1391,2.0,0,0,3,8,870,360,2004,0,98112,47.6192,-122.301,1240,1350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-05-12,2883200524,635000.0,3,2.50,1570,1433,3.0,0,0,3,8,1570,0,2010,0,98103,47.6858,-122.336,1570,2652
2014-05-11,2461900492,368000.0,3,2.50,1370,1350,2.0,0,0,3,7,1010,360,2007,0,98136,47.5534,-122.382,1450,6000
2014-05-12,8895800090,1033890.0,4,3.25,3270,5187,2.0,0,0,3,9,3110,160,2014,0,98052,47.6966,-122.133,3600,5825
2014-05-12,8091670030,383000.0,4,2.50,2160,6223,2.0,0,0,3,8,2160,0,2010,0,98038,47.3494,-122.042,2160,5555
2014-05-12,1245002281,1050000.0,4,3.75,3280,11000,2.0,0,0,3,10,2320,960,2008,0,98033,47.6855,-122.201,2400,8351

## Resample <- groupby เชิงเวลา, Index date ต้องเป็น timestamp แล้วเท่านั้น

In [152]:
house_df.resample("M").size() #ตามเดือน
#เดือน 5 มี 1768 rows
#เดือน6 มี 2180 rows

date
2014-05-31    1768
2014-06-30    2180
2014-07-31    2211
2014-08-31    1940
2014-09-30    1774
2014-10-31    1878
2014-11-30    1411
2014-12-31    1471
2015-01-31     978
2015-02-28    1250
2015-03-31    1875
2015-04-30    2231
2015-05-31     646
Freq: M, dtype: int64

In [157]:
house_df.resample("M").size().to_period() #สั่งปรับช่วง

date
2014-05    1768
2014-06    2180
2014-07    2211
2014-08    1940
2014-09    1774
2014-10    1878
2014-11    1411
2014-12    1471
2015-01     978
2015-02    1250
2015-03    1875
2015-04    2231
2015-05     646
Freq: M, dtype: int64

In [154]:
house_df.resample("Y").price.mean() #หาค่าเฉลี่ยราคาบ้านแต่ละปี

date
2014-12-31    539181.428415
2015-12-31    541988.992264
Freq: A-DEC, Name: price, dtype: float64

In [158]:
house_df.resample("Q").price.mean().to_period()

date
2014Q2    553558.947315
2014Q3    537405.582278
2014Q4    529467.025840
2015Q1    528655.415550
2015Q2    561004.517205
Freq: Q-DEC, Name: price, dtype: float64

In [164]:
house_df.resample("3D").size()

date
2014-05-02     76
2014-05-05    260
2014-05-08    167
2014-05-11    168
2014-05-14    236
             ...
2015-05-15      1
2015-05-18      0
2015-05-21      0
2015-05-24      1
2015-05-27      1
Freq: 3D, Length: 131, dtype: int64

In [167]:
house_df.resample("W-SAT").price.mean()

date
2014-05-03    522911.690141
2014-05-10    543577.094907
2014-05-17    558750.111111
2014-05-24    528149.942387
2014-05-31    572404.350267
2014-06-07    544356.854305
2014-06-14    568966.376596
2014-06-21    586926.500000
2014-06-28    532152.039002
2014-07-05    621287.215633
2014-07-12    554004.522330
2014-07-19    514606.145315
2014-07-26    518187.049904
2014-08-02    549067.146341
2014-08-09    535197.895105
2014-08-16    559313.614224
2014-08-23    506299.195122
2014-08-30    540604.461373
2014-09-06    540991.523256
2014-09-13    549067.975550
2014-09-20    521680.550122
2014-09-27    510428.145570
2014-10-04    529415.096774
2014-10-11    552488.940741
2014-10-18    562489.148418
2014-10-25    512587.277778
2014-11-01    535126.527273
2014-11-08    493564.459318
2014-11-15    535329.095607
2014-11-22    517215.921114
2014-11-29    552669.917476
2014-12-06    518101.096059
2014-12-13    548184.148148
2014-12-20    526101.318318
2014-12-27    472613.320197
2015-01-03    543056.903553
2015-01-10    546472.502075
2015-01-17    526725.472340
2015-01-24    503844.752381
2015-01-31    525588.149798
2015-02-07    500224.271654
2015-02-14    553647.914089
2015-02-21    483315.373802
2015-02-28    498387.739796
2015-03-07    567058.875000
2015-03-14    519548.313316
2015-03-21    531369.906103
2015-03-28    544597.092251
2015-04-04    584792.260181
2015-04-11    556495.794239
2015-04-18    562553.229614
2015-04-25    577139.018116
2015-05-02    542869.479630
2015-05-09    546921.121780
2015-05-16    565181.149254
2015-05-23              NaN
2015-05-30    877750.000000
Freq: W-SAT, Name: price, dtype: float64

In [172]:
house_df.resample("Q").size().to_period()
#เดือน 6 ระบุเป็น Q2

date
2014Q2    3948
2014Q3    5925
2014Q4    4760
2015Q1    4103
2015Q2    2877
Freq: Q-DEC, dtype: int64

In [174]:
house_df.resample("Q-SEP").size().to_period()
# ขยับเดือน 6 ให้ระบุเป็น Q3

date
2014Q3    3948
2014Q4    5925
2015Q1    4760
2015Q2    4103
2015Q3    2877
Freq: Q-SEP, dtype: int64

In [175]:
house_df.resample("A-APR").size()

date
2015-04-30    20967
2016-04-30      646
Freq: A-APR, dtype: int64