In [2]:
import pandas as pd
import numpy as np

In [3]:
dataSet = pd.read_csv("Alzheimer.csv")
dataSet

,HN,Education,age,hypertension,heart_disease,family history,Occupation,Triglycerides,Blood Sugar,BMI,smoking_status,alzheimer
0,11046,Secondary School,67.0,0,1,Yes,Private,Normal,228.69,36.6,formerly smoked,1
1,51676,Bachelor,61.0,0,0,Yes,Freelance,High,202.21,NaN,never smoked,1
2,35112,Secondary School,80.0,0,1,Yes,Private,High,105.92,32.5,never smoked,1
3,67182,Bachelor,49.0,0,0,Yes,Private,Normal,171.23,34.4,smokes,1
4,1665,Bachelor,79.0,1,0,Yes,Freelance,High,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4095,68398,Secondary School,82.0,1,0,Yes,Freelance,High,71.97,28.3,never smoked,0
4096,14180,Bachelor,13.0,0,0,No,Farmer,High,103.08,18.6,Unknown,0
4097,44873,Bachelor,81.0,0,0,Yes,Freelance,Normal,125.20,40.0,never smoked,0
4098,19723,Bachelor,35.0,0,0,Yes,Freelance,High,82.99,30.6,never smoked,0
4099,44679,Bachelor,44.0,0,0,Yes,Officer,Normal,85.28,26.2,Unknown,0

# MARK: Data Processing

In [4]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4100 entries, 0 to 4099
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   HN              4100 non-null   int64
 1   Education       4100 non-null   object
 2   age             4100 non-null   float64
 3   hypertension    4100 non-null   int64
 4   heart_disease   4100 non-null   int64
 5   family history  4100 non-null   object
 6   Occupation      4100 non-null   object
 7   Triglycerides   4100 non-null   object
 8   Blood Sugar     4100 non-null   float64
 9   BMI             3936 non-null   float64
 10  smoking_status  4100 non-null   object
 11  alzheimer       4100 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 384.5+ KB

In [5]:
dataSet.isna().sum()

HN                  0
Education           0
age                 0
hypertension        0
heart_disease       0
family history      0
Occupation          0
Triglycerides       0
Blood Sugar         0
BMI               164
smoking_status      0
alzheimer           0
dtype: int64

### MARK: เลือกที่จะ drop ทิ้งเพราะว่า Null มีจำนวนไม่เยอะมาก ไม่มีผลต่อ data เท่าที่ควร และ ไม่สามารถหาค่า BMI มาแทนที่ได้เพราะไม่มี weight และ height ของผู้ป่วย

In [6]:
dataSet = dataSet.dropna()
dataSet.isna().sum()

HN                0
Education         0
age               0
hypertension      0
heart_disease     0
family history    0
Occupation        0
Triglycerides     0
Blood Sugar       0
BMI               0
smoking_status    0
alzheimer         0
dtype: int64

### MARK: ตรวจสอบ Class Target จำนวนเหมาะสมกันหรือไม่

In [7]:
print("Target == 1 ->", len(dataSet.loc[dataSet["alzheimer"] == 1, "alzheimer"]))

Target == 1 -> 202

In [8]:
print("Target == 1 ->", len(dataSet.loc[dataSet["alzheimer"] == 0, "alzheimer"]))

Target == 1 -> 3734

### MARK: ปรับข้อมูล เป็น 0,1

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
dataSet.head()

,HN,Education,age,hypertension,heart_disease,family history,Occupation,Triglycerides,Blood Sugar,BMI,smoking_status,alzheimer
0,11046,Secondary School,67.0,0,1,Yes,Private,Normal,228.69,36.6,formerly smoked,1
2,35112,Secondary School,80.0,0,1,Yes,Private,High,105.92,32.5,never smoked,1
3,67182,Bachelor,49.0,0,0,Yes,Private,Normal,171.23,34.4,smokes,1
4,1665,Bachelor,79.0,1,0,Yes,Freelance,High,174.12,24.0,never smoked,1
5,66889,Secondary School,81.0,0,0,Yes,Private,Normal,186.21,29.0,formerly smoked,1

In [17]:
label_encoder = LabelEncoder()

In [18]:
dataSet['Education'] = label_encoder.fit_transform(dataSet['Education'])

/var/folders/gc/m_ppj8w50ggfmxvn8lf4jwxm0000gp/T/ipykernel_97448/1710966531.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet['Education'] = label_encoder.fit_transform(dataSet['Education'])

In [19]:
dataSet['family history'] = label_encoder.fit_transform(dataSet['family history'])

/var/folders/gc/m_ppj8w50ggfmxvn8lf4jwxm0000gp/T/ipykernel_97448/977167881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet['family history'] = label_encoder.fit_transform(dataSet['family history'])

In [20]:
dataSet['Occupation'] = label_encoder.fit_transform(dataSet['Occupation'])

/var/folders/gc/m_ppj8w50ggfmxvn8lf4jwxm0000gp/T/ipykernel_97448/3823213943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet['Occupation'] = label_encoder.fit_transform(dataSet['Occupation'])

In [21]:
dataSet['Triglycerides'] = label_encoder.fit_transform(dataSet['Triglycerides'])

/var/folders/gc/m_ppj8w50ggfmxvn8lf4jwxm0000gp/T/ipykernel_97448/4071484013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet['Triglycerides'] = label_encoder.fit_transform(dataSet['Triglycerides'])

In [22]:
dataSet['smoking_status'] = label_encoder.fit_transform(dataSet['smoking_status'])

/var/folders/gc/m_ppj8w50ggfmxvn8lf4jwxm0000gp/T/ipykernel_97448/3163372059.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataSet['smoking_status'] = label_encoder.fit_transform(dataSet['smoking_status'])

In [23]:
dataSet

,HN,Education,age,hypertension,heart_disease,family history,Occupation,Triglycerides,Blood Sugar,BMI,smoking_status,alzheimer
0,11046,1,67.0,0,1,1,4,1,228.69,36.6,1,1
2,35112,1,80.0,0,1,1,4,0,105.92,32.5,2,1
3,67182,0,49.0,0,0,1,4,1,171.23,34.4,3,1
4,1665,0,79.0,1,0,1,1,0,174.12,24.0,2,1
5,66889,1,81.0,0,0,1,4,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4095,68398,1,82.0,1,0,1,1,0,71.97,28.3,2,0
4096,14180,0,13.0,0,0,0,0,0,103.08,18.6,0,0
4097,44873,0,81.0,0,0,1,1,1,125.20,40.0,2,0
4098,19723,0,35.0,0,0,1,1,0,82.99,30.6,2,0
4099,44679,0,44.0,0,0,1,3,1,85.28,26.2,0,0

### SMOTE (Synthetic Minority Over-sampling Technique): วิธีการที่ใช้การสร้างตัวอย่างสัญญาณเทียบเท่าจากคลาสน้อยโดยการผสมคุณลักษณะของตัวอย่างในคลาสน้อย

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
X = dataSet.drop('alzheimer', axis=1)
y = dataSet['alzheimer']

# สร้างตัวกำหนด SMOTE
smote = SMOTE(sampling_strategy='auto', random_state=42)  # 'auto' จะทำให้คลาสน้อยมีจำนวนเทียบเท่าคลาสมาก

# ทำ SMOTE
X_resampled, y_resampled = smote.fit_resample(X, y)

# แสดง Dataframe หลังจากทำ SMOTE
resampled_df = pd.concat([X_resampled, y_resampled], axis=1)
resampled_df

# MARK: แบ่งข้อมูล

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn import tree
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt

### MARK: train_test_split

In [ ]:
X = resampled_df.drop('alzheimer', axis=1)
y = resampled_df["alzheimer"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
# random_state 42 เพื่อข้อมูลเหมือนกันทุกครั้ง

In [ ]:
# ลองใช้ Class target เท่ากัน ดู
# dataSetSendModel = dataSet.loc[:(len(dataSet.loc[dataSet["alzheimer"] == 1, "alzheimer"])-1)*2]
# X = dataSet.drop('alzheimer', axis=1)
# y = dataSet["alzheimer"]
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
X_train.head()

In [ ]:
X_train.info()

In [ ]:
y_train.info()

# Model 1 Decision tree

### MARK: Decision tree model Start

In [ ]:
clfModel = tree.DecisionTreeClassifier(criterion="gini",class_weight='balanced',random_state=42)

In [ ]:
clfModel.fit(X_train, y_train)

In [ ]:
# feature ที่มีความสำคัญ
fImportances = pd.Series(clfModel.feature_importances_, index=X_train.columns).sort_values(ascending=False)
fImportances

In [ ]:
print("ตัวอย่างข้อมูลชุดเรียนรู้ ->",clfModel.score(X_train,y_train))
# อันเดียวกัน
# y_train_pred = clf.predict(X_train)
# accuracy_score(y_train, y_train_pred)

### MARK: Visualize Decision Tree

In [ ]:
plt.figure(figsize=(12, 6))
tree.plot_tree(clfModel.fit(X_train, y_train))
plt.show()

### MARK: Predict and Score Model

In [ ]:
y_pred = clfModel.predict(X_test)
print("ตัวอย่างข้อมูลชุดทดสอบ ->",accuracy_score(y_test, y_pred))

In [ ]:
pd.crosstab(y_test, y_pred)

In [ ]:
print("Classification Report:\n", classification_report(y_test, y_pred))

### MARK: feature_importances

In [ ]:
np.array([X.columns.values.tolist(), list(clfModel.feature_importances_)]).T

In [ ]:
feature_names = X.columns.values.tolist()
importances = clfModel.feature_importances_
indices = np.argsort(importances)[::-1]

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(range(X.shape[1]), importances[indices], align="center")
plt.xticks(range(X.shape[1]), [feature_names[i] for i in indices], rotation=90)
plt.xlabel("Feature_names")
plt.ylabel("Importances")
plt.title("Feature importances")
plt.show()

### MARK: ลอง Puring + เลือก Feature importances 4 อันดับแรก เข้า model

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
feature_importances_Select = ['age', 'HN', 'Blood Sugar', 'BMI']

In [ ]:
X_feature_importances = resampled_df[feature_importances_Select]
y_feature_importances = y
X_trainIm, X_testIm, y_trainIm, y_testIm = train_test_split(X_feature_importances, y_feature_importances, test_size=0.3, random_state=42)

In [ ]:
best_score = 0

for md in range(1, 10): # iterate different maximum depth values
    # train the model
    treeModel = tree.DecisionTreeClassifier(criterion="gini",class_weight='balanced', max_depth=md)
    # perform cross-validation
    scores = cross_val_score(treeModel, X_trainIm, y_trainIm, cv=10, scoring='accuracy')
   
    # compute mean cross-validation accuracy
    score = np.mean(scores)
    print("cross_val_score ->",score)
    
    # if we got a better score, store the score and parameters
    if score > best_score:
        best_score = score
        best_parameter = md

### MARK: Select Feature importances Top 4

In [ ]:
clfModel_Im = tree.DecisionTreeClassifier(criterion="gini",class_weight='balanced', random_state=42)

In [ ]:
clfModel_Im.fit(X_trainIm, y_trainIm)

In [ ]:
print("ตัวอย่างข้อมูลชุดเรียนรู้ ->",clfModel_Im.score(X_trainIm,y_trainIm))

In [ ]:
plt.figure(figsize=(12, 6))
tree.plot_tree(clfModel_Im.fit(X_trainIm, y_trainIm))
plt.show()

In [ ]:
y_predIm = clfModel_Im.predict(X_testIm)
print("ตัวอย่างข้อมูลทดสอบ ->",accuracy_score(y_testIm, y_predIm))

In [ ]:
pd.crosstab(y_testIm, y_predIm)

In [ ]:
print("Classification Report:\n", classification_report(y_testIm, y_predIm))

### MARK: Select Feature + max_depth = best_parameter

In [ ]:
print("best_parameter max_depth -> ",best_parameter)

In [ ]:
clfModel_Im = tree.DecisionTreeClassifier(criterion="gini",class_weight='balanced', max_depth=best_parameter, random_state=42)

In [ ]:
clfModel_Im.fit(X_trainIm, y_trainIm)

In [ ]:
print("ตัวอย่างข้อมูลชุดเรียนรู้ ->",clfModel_Im.score(X_trainIm,y_trainIm))

In [ ]:
plt.figure(figsize=(12, 6))
tree.plot_tree(clfModel_Im.fit(X_trainIm, y_trainIm))
plt.show()

In [ ]:
y_predIm = clfModel_Im.predict(X_testIm)
print("ตัวอย่างข้อมูลทดสอบ ->",accuracy_score(y_testIm, y_predIm))

In [ ]:
pd.crosstab(y_testIm, y_predIm)

In [ ]:
print("Classification Report:\n", classification_report(y_testIm, y_predIm))

# Model 2 K nearest neighbors

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [ ]:
k_values = [1, 3, 5, 7, 9, 11, 13, 15]

In [ ]:
accuracy_scores = []

### หา K ที่มีค่า accuracy ดีที่สุด

In [ ]:
for k in k_values:
    # สร้างโมเดล K-Nearest Neighbors ด้วยค่า K ปัจจุบัน
    knn = KNeighborsClassifier(n_neighbors=k)
    
    # ทำการ Cross-validation และประเมินความถูกต้อง
    scores = cross_val_score(knn, X, y, cv=10) 
    accuracy = np.mean(scores)
    print("k",k,"->",accuracy)
    
    # เพิ่มค่าความถูกต้องลงในรายการ
    accuracy_scores.append(accuracy)

In [ ]:
best_k = k_values[np.argmax(accuracy_scores)]
best_accuracy = max(accuracy_scores)
print(f"ค่า K ที่ดีที่สุดคือ {best_k} ด้วยความถูกต้อง {best_accuracy:.2f}")

### MARK: ปรับ Scale

In [ ]:
scaler = StandardScaler()

In [ ]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

### MARK: KNN Start

In [ ]:
knn = KNeighborsClassifier(n_neighbors=best_k)

In [ ]:
knn.get_params()

In [ ]:
knn.fit(X_train, y_train)

In [ ]:
print("ตัวอย่างข้อมูลเรียนรู้ ->",knn.score(X_train,y_train))

### MARK: Predict and Score Model

In [ ]:
y_pred = knn.predict(X_test) 
print("ตัวอย่างข้อมูลชุดทดสอบ ->",accuracy_score(y_test, y_pred))

In [ ]:
print("Classification Report:\n", classification_report(y_test, y_pred))

### MARK: เลือก Feature importances 4 อันดับแรก เข้า model

In [ ]:
X_trainIm = scaler.fit_transform(X_trainIm)
X_testIm = scaler.fit_transform(X_testIm)

In [ ]:
knn.fit(X_trainIm, y_trainIm)
print("ตัวอย่างข้อมูลชุดเรียนรู้ ->",knn.score(X_trainIm,y_trainIm))

In [ ]:
y_predIm = knn.predict(X_testIm)
print("ตัวอย่างข้อมูลทดสอบ ->",accuracy_score(y_testIm, y_predIm))

In [ ]:
print("Classification Report:\n", classification_report(y_testIm, y_predIm))

# Model 3 Neural Network

In [ ]:
from sklearn.neural_network import MLPClassifier

### MARK: Neural Network Start

In [ ]:
nnClf = MLPClassifier(hidden_layer_sizes=(64, 32), max_iter=1000, random_state=42)

In [ ]:
nnClf.get_params()

In [ ]:
nnClf.fit(X_train,y_train)
print("ตัวอย่างข้อมูลชุดทดสอบ ->",nnClf.score(X_train,y_train))

### MARK: Predict and Score Model

In [ ]:
y_pred = nnClf.predict(X_test) 
print("ตัวอย่างข้อมูลชุดทดสอบ ->",accuracy_score(y_test, y_pred))

In [ ]:
# print("Classification Report:\n", classification_report(y_test, y_pred))
report = classification_report(y_test, y_pred)
print(report)

### MARK: เลือก Feature importances 4 อันดับแรก เข้า model

In [ ]:
nnClf.fit(X_trainIm, y_trainIm)
print("ตัวอย่างข้อมูลชุดเรียนรู้ ->",nnClf.score(X_trainIm,y_trainIm))

In [ ]:
y_predIm = nnClf.predict(X_testIm)
print("ตัวอย่างข้อมูลทดสอบ ->",accuracy_score(y_testIm, y_predIm))

In [ ]:
print("Classification Report:\n", classification_report(y_testIm, y_predIm))