In [169]:
import pandas as pd

In [170]:
dataSet = pd.read_csv("Alzheimer.csv")
dataSet.head()

,HN,Education,age,hypertension,heart_disease,family history,Occupation,Triglycerides,Blood Sugar,BMI,smoking_status,alzheimer
0,11046,Secondary School,67.0,0,1,Yes,Private,Normal,228.69,36.6,formerly smoked,1
1,51676,Bachelor,61.0,0,0,Yes,Freelance,High,202.21,NaN,never smoked,1
2,35112,Secondary School,80.0,0,1,Yes,Private,High,105.92,32.5,never smoked,1
3,67182,Bachelor,49.0,0,0,Yes,Private,Normal,171.23,34.4,smokes,1
4,1665,Bachelor,79.0,1,0,Yes,Freelance,High,174.12,24.0,never smoked,1

# MARK: Data Processing

In [171]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4100 entries, 0 to 4099
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   HN              4100 non-null   int64
 1   Education       4100 non-null   object
 2   age             4100 non-null   float64
 3   hypertension    4100 non-null   int64
 4   heart_disease   4100 non-null   int64
 5   family history  4100 non-null   object
 6   Occupation      4100 non-null   object
 7   Triglycerides   4100 non-null   object
 8   Blood Sugar     4100 non-null   float64
 9   BMI             3936 non-null   float64
 10  smoking_status  4100 non-null   object
 11  alzheimer       4100 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 384.5+ KB

In [172]:
dataSet.isna().sum()

HN                  0
Education           0
age                 0
hypertension        0
heart_disease       0
family history      0
Occupation          0
Triglycerides       0
Blood Sugar         0
BMI               164
smoking_status      0
alzheimer           0
dtype: int64

### MARK: เลือกที่จะ drop ทิ้งเพราะว่า Null มีจำนวนไม่เยอะมาก ไม่มีผลต่อ data เท่าที่ควร และ ไม่สามารถหาค่า BMI มาแทนที่ได้เพราะไม่มี weight และ height ของผู้ป่วย

In [173]:
dataSet = dataSet.dropna()
dataSet.isna().sum()

HN                0
Education         0
age               0
hypertension      0
heart_disease     0
family history    0
Occupation        0
Triglycerides     0
Blood Sugar       0
BMI               0
smoking_status    0
alzheimer         0
dtype: int64

### ตรวจสอบ Class Target จำนวนเหมาะสมกันหรือไม่

In [174]:
print("Target == 1 ->", len(dataSet.loc[dataSet["alzheimer"] == 1, "alzheimer"]))

Target == 1 -> 202

In [175]:
print("Target == 1 ->", len(dataSet.loc[dataSet["alzheimer"] == 0, "alzheimer"]))

Target == 1 -> 3734

### ปรับข้อมูล เป็น 0,1

In [176]:
dataSet.head()

,HN,Education,age,hypertension,heart_disease,family history,Occupation,Triglycerides,Blood Sugar,BMI,smoking_status,alzheimer
0,11046,Secondary School,67.0,0,1,Yes,Private,Normal,228.69,36.6,formerly smoked,1
2,35112,Secondary School,80.0,0,1,Yes,Private,High,105.92,32.5,never smoked,1
3,67182,Bachelor,49.0,0,0,Yes,Private,Normal,171.23,34.4,smokes,1
4,1665,Bachelor,79.0,1,0,Yes,Freelance,High,174.12,24.0,never smoked,1
5,66889,Secondary School,81.0,0,0,Yes,Private,Normal,186.21,29.0,formerly smoked,1

In [177]:
dataSet['Education'].unique()

array(['Secondary School', 'Bachelor'], dtype=object)

In [178]:
dataSet["Education"] = dataSet["Education"].replace({'Bachelor': 1, 'Secondary School': 0})

In [179]:
dataSet['family history'].unique()

array(['Yes', 'No'], dtype=object)

In [180]:
dataSet["family history"] = dataSet["family history"].replace({'Yes': 1, 'No': 0})

In [181]:
dataSet['Occupation'].unique()

array(['Private', 'Freelance', 'Officer', 'Farmer', 'Never_worked'],
      dtype=object)

In [182]:
dataSet["Occupation"] = dataSet["Occupation"].replace({'Private': 0, 'Freelance': 1, "Officer":2, "Farmer":3, "Never_worked":4})

In [183]:
dataSet['Triglycerides'].unique()

array(['Normal', 'High'], dtype=object)

In [184]:
dataSet['Triglycerides'] = dataSet['Triglycerides'].replace({'High': 1,'Normal': 0})

In [185]:
dataSet["smoking_status"].unique()

array(['formerly smoked', 'never smoked', 'smokes', 'Unknown'],
      dtype=object)

In [186]:
dataSet["smoking_status"] = dataSet["smoking_status"].replace({'formerly smoked': 0, 'never smoked': 1, "smokes":2, "Unknown":3})

# Feature Select ค่อยกลับมาทำ

In [187]:
# from sklearn.feature_selection import SelectKBest
# from sklearn.feature_selection import chi2

In [188]:
# X_new = SelectKBest(chi2, k=2).fit_transform(X, y)

In [189]:
# print("คุณลักษณะที่ถูกเลือก:")
# print(X_new[:5])  # แสดง 5 ตัวอย่างแรก

In [190]:
# print("\nคุณลักษณะเดิม:")
# print(X[:5])  # แสดง 5 ตัวอย่างแรก

# Model 1 Decision tree

In [191]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree

#### train_test_split

In [192]:
X = dataSet.loc[:, "HN":"smoking_status"]
y = dataSet["alzheimer"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

#### model Start

In [193]:
clf = tree.DecisionTreeClassifier(class_weight='balanced')

In [194]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight='balanced')

In [195]:
clf.score(X_train,y_train)

1.0

In [196]:
y_pred = clf.predict(X_test)

In [197]:
accuracy_score(y_test, y_pred)

0.9110922946655376