In [69]:
import pandas as pd

In [70]:
path = "Datasets/players.csv"
player_df = pd.read_csv(path)
player_df.head()

,surname,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
player_df = player_df.loc[:,:"saves"]
player_df.head()

     surname     team    position  minutes  shots  passes  tackles  saves
0     Abdoun  Algeria  midfielder       16      0       6        0      0
1    Belhadj  Algeria    defender      270      1     146        8      0
2  Boudebouz  Algeria  midfielder       74      3      28        1      0
3  Bougherra  Algeria    defender      270      1      89       11      0
4   Chaouchi  Algeria  goalkeeper       90      0      17        0      2

## สร้าง Categorical

In [89]:
player_df.position.astype("category")

0      midfielder
1        defender
2      midfielder
3        defender
4      goalkeeper
          ...
590    midfielder
591    goalkeeper
592       forward
593      defender
594    midfielder
Name: position, Length: 595, dtype: category
Categories (4, object): ['defender', 'forward', 'goalkeeper', 'midfielder']

In [73]:
pd.Categorical(player_df.position)

['midfielder', 'defender', 'midfielder', 'defender', 'goalkeeper', ..., 'midfielder', 'goalkeeper', 'forward', 'defender', 'midfielder']
Length: 595
Categories (4, object): ['defender', 'forward', 'goalkeeper', 'midfielder']

In [74]:
player_df["position_Category"] = pd.Categorical(player_df.position)
player_df.head()

,surname,team,position,minutes,shots,passes,tackles,saves,position_Category
0,Abdoun,Algeria,midfielder,16,0,6,0,0,midfielder
1,Belhadj,Algeria,defender,270,1,146,8,0,defender
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,midfielder
3,Bougherra,Algeria,defender,270,1,89,11,0,defender
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,goalkeeper

##  เรียงลำดับ Category

In [75]:
pd.Categorical(player_df.position, ordered=True)

['midfielder', 'defender', 'midfielder', 'defender', 'goalkeeper', ..., 'midfielder', 'goalkeeper', 'forward', 'defender', 'midfielder']
Length: 595
Categories (4, object): ['defender' < 'forward' < 'goalkeeper' < 'midfielder']

In [76]:
player_df["position_Category"] = pd.Categorical(player_df.position
                                                , categories = ["goalkeeper", "defender", "midfielder", "forward"]
                                                , ordered=True)
player_df.head()

,surname,team,position,minutes,shots,passes,tackles,saves,position_Category
0,Abdoun,Algeria,midfielder,16,0,6,0,0,midfielder
1,Belhadj,Algeria,defender,270,1,146,8,0,defender
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,midfielder
3,Bougherra,Algeria,defender,270,1,89,11,0,defender
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,goalkeeper

In [77]:
player_df.sort_values(["team","position"]).head()

,surname,team,position,minutes,shots,passes,tackles,saves,position_Category
1,Belhadj,Algeria,defender,270,1,146,8,0,defender
3,Bougherra,Algeria,defender,270,1,89,11,0,defender
8,Halliche,Algeria,defender,270,2,94,4,0,defender
15,Yahia,Algeria,defender,269,1,79,4,0,defender
5,Djebbour,Algeria,forward,123,3,19,1,0,forward

In [78]:
player_df.loc[player_df.team == "Algeria", :].sort_values(["team","position"]) #sort string

,surname,team,position,minutes,shots,passes,tackles,saves,position_Category
1,Belhadj,Algeria,defender,270,1,146,8,0,defender
3,Bougherra,Algeria,defender,270,1,89,11,0,defender
8,Halliche,Algeria,defender,270,2,94,4,0,defender
15,Yahia,Algeria,defender,269,1,79,4,0,defender
5,Djebbour,Algeria,forward,123,3,19,1,0,forward
6,Ghezzal,Algeria,forward,40,3,8,0,0,forward
14,Saifi,Algeria,forward,15,1,3,0,0,forward
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,goalkeeper
11,M'Bolhi,Algeria,goalkeeper,180,0,30,0,12,goalkeeper
0,Abdoun,Algeria,midfielder,16,0,6,0,0,midfielder
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,midfielder
7,Guedioura,Algeria,midfielder,38,0,18,1,0,midfielder
9,Kadir,Algeria,midfielder,262,0,104,3,0,midfielder
10,Lacen,Algeria,midfielder,270,0,158,8,0,midfielder
12,Matmour,Algeria,midfielder,255,3,68,3,0,midfielder
13,Mesbah,Algeria,midfielder,1,0,1,0,0,midfielder
16,Yebda,Algeria,midfielder,269,8,138,10,0,midfielder
17,Ziani,Algeria,midfielder,240,5,93,6,0,midfielder

In [79]:
player_df.loc[player_df.team == "Algeria", :].sort_values("position_Category") #sort Category

,surname,team,position,minutes,shots,passes,tackles,saves,position_Category
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,goalkeeper
11,M'Bolhi,Algeria,goalkeeper,180,0,30,0,12,goalkeeper
8,Halliche,Algeria,defender,270,2,94,4,0,defender
1,Belhadj,Algeria,defender,270,1,146,8,0,defender
15,Yahia,Algeria,defender,269,1,79,4,0,defender
3,Bougherra,Algeria,defender,270,1,89,11,0,defender
13,Mesbah,Algeria,midfielder,1,0,1,0,0,midfielder
12,Matmour,Algeria,midfielder,255,3,68,3,0,midfielder
10,Lacen,Algeria,midfielder,270,0,158,8,0,midfielder
0,Abdoun,Algeria,midfielder,16,0,6,0,0,midfielder
16,Yebda,Algeria,midfielder,269,8,138,10,0,midfielder
7,Guedioura,Algeria,midfielder,38,0,18,1,0,midfielder
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,midfielder
9,Kadir,Algeria,midfielder,262,0,104,3,0,midfielder
17,Ziani,Algeria,midfielder,240,5,93,6,0,midfielder
6,Ghezzal,Algeria,forward,40,3,8,0,0,forward
5,Djebbour,Algeria,forward,123,3,19,1,0,forward
14,Saifi,Algeria,forward,15,1,3,0,0,forward

## การจัดการกบั Category

### เรียกดูชื่อ Categories

In [80]:
player_df.position_Category.cat.categories

Index(['goalkeeper', 'defender', 'midfielder', 'forward'], dtype='object')

### Remove Categories

In [81]:
player_df.position_Category.cat.remove_categories("goalkeeper")

0      midfielder
1        defender
2      midfielder
3        defender
4             NaN
          ...
590    midfielder
591           NaN
592       forward
593      defender
594    midfielder
Name: position_Category, Length: 595, dtype: category
Categories (3, object): ['defender' < 'midfielder' < 'forward']

### Add Categories

In [82]:
player_df.position_Category.cat.add_categories("coach")

0      midfielder
1        defender
2      midfielder
3        defender
4      goalkeeper
          ...
590    midfielder
591    goalkeeper
592       forward
593      defender
594    midfielder
Name: position_Category, Length: 595, dtype: category
Categories (5, object): ['goalkeeper' < 'defender' < 'midfielder' < 'forward' < 'coach']

In [83]:
s_cat = player_df.position_Category.cat.add_categories("coach")
s_cat

0      midfielder
1        defender
2      midfielder
3        defender
4      goalkeeper
          ...
590    midfielder
591    goalkeeper
592       forward
593      defender
594    midfielder
Name: position_Category, Length: 595, dtype: category
Categories (5, object): ['goalkeeper' < 'defender' < 'midfielder' < 'forward' < 'coach']

In [84]:
s_cat[0] = "coach" # index 0 midfielder -> coach
s_cat

0           coach
1        defender
2      midfielder
3        defender
4      goalkeeper
          ...
590    midfielder
591    goalkeeper
592       forward
593      defender
594    midfielder
Name: position_Category, Length: 595, dtype: category
Categories (5, object): ['goalkeeper' < 'defender' < 'midfielder' < 'forward' < 'coach']

In [85]:
s_cat[0] = "midfielder"
s_cat

0      midfielder
1        defender
2      midfielder
3        defender
4      goalkeeper
          ...
590    midfielder
591    goalkeeper
592       forward
593      defender
594    midfielder
Name: position_Category, Length: 595, dtype: category
Categories (5, object): ['goalkeeper' < 'defender' < 'midfielder' < 'forward' < 'coach']

### ยกเลิกลำดับ Catagory กลับเป็นไปเป็น String

In [86]:
s_cat.cat.as_unordered()

0      midfielder
1        defender
2      midfielder
3        defender
4      goalkeeper
          ...
590    midfielder
591    goalkeeper
592       forward
593      defender
594    midfielder
Name: position_Category, Length: 595, dtype: category
Categories (5, object): ['goalkeeper', 'defender', 'midfielder', 'forward', 'coach']

### เรียงลำดับใหม่

In [88]:
s_cat.cat.reorder_categories(["forward","midfielder","defender","goalkeeper","coach"])

0      midfielder
1        defender
2      midfielder
3        defender
4      goalkeeper
          ...
590    midfielder
591    goalkeeper
592       forward
593      defender
594    midfielder
Name: position_Category, Length: 595, dtype: category
Categories (5, object): ['forward' < 'midfielder' < 'defender' < 'goalkeeper' < 'coach']