In [1]:
import pandas as pd

# 1 เปิดไฟล์ italy_earthquakes_from_2016-08-24_to_2016-11-30.csv

In [2]:
path = "italy_earthquakes_from_2016-08-24_to_2016-11-30.csv"
df = pd.read_csv(path)

In [3]:
df.head()

                      Time  Latitude  Longitude  Depth/Km  Magnitude
0  2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
1  2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2  2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
3  2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
4  2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8086 entries, 0 to 8085
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       8086 non-null   object
 1   Latitude   8086 non-null   float64
 2   Longitude  8086 non-null   float64
 3   Depth/Km   8086 non-null   float64
 4   Magnitude  8086 non-null   float64
dtypes: float64(4), object(1)
memory usage: 316.0+ KB

In [5]:
df["Time"] = pd.to_datetime(df.Time) # แปลงคอลัมน์ "Time" เป็น datetime
df.head()

                     Time  Latitude  Longitude  Depth/Km  Magnitude
0 2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
1 2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2 2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
3 2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
4 2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6

In [6]:
df = df.sort_values(by='Time', ascending=True) 
df.head()

                     Time  Latitude  Longitude  Depth/Km  Magnitude
0 2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
1 2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2 2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
3 2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
4 2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6

# 2 ปรับคอลัมน์ Time ให้เป็น Timestamp และตั้งให้เป็น index

In [7]:
df = df.set_index("Time")
df

                         Latitude  Longitude  Depth/Km  Magnitude
Time
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6
...                           ...        ...       ...        ...
2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0
2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6
2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2
2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7
2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3

[8086 rows x 4 columns]

# 3 เวลาที่เกิดแผ่นดินไหวแรงที่สุดคือวันเวลาไหน

In [8]:
# df[df['Magnitude'] == df['Magnitude'].max()]
df['Magnitude'].idxmax()

Timestamp('2016-10-30 08:40:17.360000')

# 4 ในวันที่เกิดแผ่นดินไหวแรงที่สุด มีแผ่นดินไหวกี่ครั้ง

In [9]:
max_magnitude_time = df['Magnitude'].idxmax()
max_magnitude_time

Timestamp('2016-10-30 08:40:17.360000')

In [10]:
earthquakes_on_max_magnitude_day = df[max_magnitude_time.date() == df.index.date]
earthquakes_on_max_magnitude_day

                         Latitude  Longitude  Depth/Km  Magnitude
Time
2016-10-30 00:03:07.710   42.8123    13.0938      10.7        2.8
2016-10-30 00:04:38.680   42.8428    13.1558       7.6        2.0
2016-10-30 00:08:08.510   42.8257    13.1005       9.9        3.2
2016-10-30 00:11:02.990   43.0243    13.0953       7.4        2.2
2016-10-30 00:14:03.170   42.8902    13.1648       7.6        2.2
...                           ...        ...       ...        ...
2016-10-30 23:50:20.590   42.8813    13.0827      10.0        2.7
2016-10-30 23:52:53.570   42.8798    13.1907      10.3        2.8
2016-10-30 23:53:46.730   42.9847    13.0412       9.4        2.9
2016-10-30 23:56:01.260   42.8808    13.2010       7.5        2.6
2016-10-30 23:57:10.950   42.7847    13.0727      10.2        3.1

[389 rows x 4 columns]

In [11]:
count_of_earthquakes_on_max_magnitude_day = len(earthquakes_on_max_magnitude_day)
count_of_earthquakes_on_max_magnitude_day

389

# 5 แสดงข้อมูลตั้งแต่ 7 ถึง 9 โมงเช้าในวันที่เกิดแผ่นดินไหวแรงที่สุด

In [12]:
start_time = max_magnitude_time.replace(hour=7, minute=0, second=0)
start_time

Timestamp('2016-10-30 07:00:00.360000')

In [13]:
end_time = max_magnitude_time.replace(hour=9, minute=0, second=0)
end_time

Timestamp('2016-10-30 09:00:00.360000')

In [14]:
earthquake_data = df[(df.index >= start_time) & (df.index <= end_time)]
earthquake_data

                         Latitude  Longitude  Depth/Km  Magnitude
Time
2016-10-30 07:01:14.060   42.8522    13.2443       8.9        2.4
2016-10-30 07:02:48.160   42.8538    13.2342       8.3        2.5
2016-10-30 07:14:48.470   42.8737    13.1502       9.2        2.4
2016-10-30 07:31:51.660   42.8753    13.0563       9.9        2.2
2016-10-30 08:04:07.760   42.7907    13.0872      10.2        2.4
2016-10-30 08:16:28.780   43.0622    13.0683       8.7        2.1
2016-10-30 08:31:19.890   42.9268    13.0287      10.8        2.0
2016-10-30 08:40:17.360   42.8322    13.1107       9.2        6.5
2016-10-30 08:41:17.010   42.7720    13.1358       9.3        4.3
2016-10-30 08:42:27.470   42.8795    13.0562       9.6        3.9
2016-10-30 08:43:08.810   42.7668    13.1383       9.7        4.0
2016-10-30 08:43:46.260   42.9000    13.1455       6.7        3.5
2016-10-30 08:44:30.670   42.8548    13.0853       8.3        4.6
2016-10-30 08:47:05.430   42.7868    13.1655       5.8        3.4
2016-10-30 08:48:27.160   42.7825    13.1632      10.8        3.8
2016-10-30 08:48:52.710   42.6828    13.2003      10.1        3.9
2016-10-30 08:50:43.710   42.8068    13.1952      10.5        3.6
2016-10-30 08:51:14.270   42.8925    13.0782       9.1        3.7
2016-10-30 08:51:55.240   42.7828    13.1332      10.1        3.8
2016-10-30 08:53:12.820   42.8090    13.0830      10.1        3.4
2016-10-30 08:53:54.740   42.7692    13.1643      10.8        3.2
2016-10-30 08:54:46.760   42.7958    13.2090      11.3        2.8
2016-10-30 08:55:41.060   42.7122    13.1968      10.8        4.1
2016-10-30 08:55:54.210   42.7508    13.2307      10.9        4.1
2016-10-30 08:56:05.780   42.7993    13.1077      10.5        4.2
2016-10-30 08:56:38.110   42.8437    13.1453       9.7        3.5
2016-10-30 08:57:21.560   42.8607    13.0922       9.5        3.8
2016-10-30 08:58:02.960   42.9078    13.1008       7.3        3.5
2016-10-30 08:59:31.500   42.8517    13.2118       9.9        3.9
2016-10-30 08:59:45.430   42.8235    13.1828      12.7        3.6

# 6 แผ่นดินไหวที่แรงที่สุดกับแรงเป็นที่ 2 ห่างกันเท่าไหร่ ตอบเป็นวัน-ชั่วโมง-นาที

In [15]:
from datetime import datetime, timedelta

In [16]:
top2_magnitudes = df['Magnitude'].nlargest(2)
top2_magnitudes

Time
2016-10-30 08:40:17.360    6.5
2016-08-24 03:36:32.000    6.0
Name: Magnitude, dtype: float64

In [17]:
top_magnitude = top2_magnitudes.iloc[0]  # 1
second_magnitude = top2_magnitudes.iloc[1]  # 2

In [18]:
top_magnitude_time = df[df['Magnitude'] == top_magnitude].index[0]
second_magnitude_time = df[df['Magnitude'] == second_magnitude].index[0]
time_difference = abs(top_magnitude_time - second_magnitude_time)
time_difference

Timedelta('67 days 05:03:45.360000')

In [19]:
days = time_difference.days
seconds = time_difference.seconds
hours, remainder = divmod(seconds, 3600)
minutes, seconds = divmod(remainder, 60)
print(f"ความแตกต่างเวลาระหว่าง top_magnitude และ second_magnitude คือ {days} วัน {hours} ชั่วโมง {minutes} นาที")

ความแตกต่างเวลาระหว่าง top_magnitude และ second_magnitude คือ 67 วัน 5 ชั่วโมง 3 นาที

# 7 คำนวณความแรงของแผ่นดินไหวที่เปลี่ยนไปในแต่ละครั้ง ของข้อมูลในข้อ 5.
หมายเหตุ: ใช้คำสั่ง shift() ช่วยเลื่อนแถวของคอลัมน์ Magnitude เพื่อคำนวณความแตกต่าง

In [20]:
earthquake_data['Magnitude_Difference'] = earthquake_data['Magnitude'].diff()
earthquake_data[['Magnitude', 'Magnitude_Difference']]

C:\Users\PP\AppData\Local\Temp\ipykernel_11856\1227837147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  earthquake_data['Magnitude_Difference'] = earthquake_data['Magnitude'].diff()

                         Magnitude  Magnitude_Difference
Time
2016-10-30 07:01:14.060        2.4                   NaN
2016-10-30 07:02:48.160        2.5                   0.1
2016-10-30 07:14:48.470        2.4                  -0.1
2016-10-30 07:31:51.660        2.2                  -0.2
2016-10-30 08:04:07.760        2.4                   0.2
2016-10-30 08:16:28.780        2.1                  -0.3
2016-10-30 08:31:19.890        2.0                  -0.1
2016-10-30 08:40:17.360        6.5                   4.5
2016-10-30 08:41:17.010        4.3                  -2.2
2016-10-30 08:42:27.470        3.9                  -0.4
2016-10-30 08:43:08.810        4.0                   0.1
2016-10-30 08:43:46.260        3.5                  -0.5
2016-10-30 08:44:30.670        4.6                   1.1
2016-10-30 08:47:05.430        3.4                  -1.2
2016-10-30 08:48:27.160        3.8                   0.4
2016-10-30 08:48:52.710        3.9                   0.1
2016-10-30 08:50:43.710        3.6                  -0.3
2016-10-30 08:51:14.270        3.7                   0.1
2016-10-30 08:51:55.240        3.8                   0.1
2016-10-30 08:53:12.820        3.4                  -0.4
2016-10-30 08:53:54.740        3.2                  -0.2
2016-10-30 08:54:46.760        2.8                  -0.4
2016-10-30 08:55:41.060        4.1                   1.3
2016-10-30 08:55:54.210        4.1                   0.0
2016-10-30 08:56:05.780        4.2                   0.1
2016-10-30 08:56:38.110        3.5                  -0.7
2016-10-30 08:57:21.560        3.8                   0.3
2016-10-30 08:58:02.960        3.5                  -0.3
2016-10-30 08:59:31.500        3.9                   0.4
2016-10-30 08:59:45.430        3.6                  -0.3

# 8 มีแผ่นดินไหวเกิดขึ้นกี่ครั้งในแต่ละวัน

In [21]:
df.groupby(df.index.date)['Magnitude'].count()

2016-08-24    508
2016-08-25    240
2016-08-26    212
2016-08-27    140
2016-08-28    110
             ...
2016-11-26     41
2016-11-27     73
2016-11-28     82
2016-11-29     93
2016-11-30     47
Name: Magnitude, Length: 99, dtype: int64

# 9 ถ้าแยกเวลาเป็นช่วง ช่วงละหนึ่งชั่วโมง มีกี่ช่วงที่ไม่มีแผ่นดินไหวเกิดขึ้นเลยในชั่วโมงนั้น

In [22]:
earthquakes_per_hour = df['Magnitude'].resample('H').count()
earthquakes_per_hour

Time
2016-08-24 03:00:00    19
2016-08-24 04:00:00    61
2016-08-24 05:00:00    72
2016-08-24 06:00:00    55
2016-08-24 07:00:00    54
                       ..
2016-11-30 16:00:00     2
2016-11-30 17:00:00     3
2016-11-30 18:00:00     3
2016-11-30 19:00:00     0
2016-11-30 20:00:00     3
Freq: H, Name: Magnitude, Length: 2370, dtype: int64

In [23]:
hours_with_no_earthquakes = earthquakes_per_hour[earthquakes_per_hour == 0]
hours_with_no_earthquakes

Time
2016-08-31 10:00:00    0
2016-09-01 09:00:00    0
2016-09-02 05:00:00    0
2016-09-02 06:00:00    0
2016-09-02 10:00:00    0
                      ..
2016-11-27 16:00:00    0
2016-11-29 15:00:00    0
2016-11-30 06:00:00    0
2016-11-30 13:00:00    0
2016-11-30 19:00:00    0
Name: Magnitude, Length: 759, dtype: int64

# 10 ถ้าแยกเวลาเป็นช่วง ช่วงละ 5 นาที ช่วงเวลาไหนมีค่าเฉลี่ยความรุนแรงของแผ่นดินไหวสูงที่สุด และค่าเฉลี่ยนั้นมีค่าเท่าไหร

In [24]:
earthquakes_per_5_minutes = df['Magnitude'].resample('5T').mean()
earthquakes_per_5_minutes

Time
2016-08-24 03:35:00    5.250000
2016-08-24 03:40:00    3.433333
2016-08-24 03:45:00    3.266667
2016-08-24 03:50:00    3.000000
2016-08-24 03:55:00    3.166667
                         ...
2016-11-30 20:30:00         NaN
2016-11-30 20:35:00         NaN
2016-11-30 20:40:00         NaN
2016-11-30 20:45:00    2.700000
2016-11-30 20:50:00    2.300000
Freq: 5T, Name: Magnitude, Length: 28432, dtype: float64

In [25]:
max_intensity_time = earthquakes_per_5_minutes.idxmax()
max_intensity_time

Timestamp('2016-10-26 19:10:00', freq='5T')

In [26]:
max_intensity = earthquakes_per_5_minutes.max()
max_intensity

5.4

# 11 ระยะเวลาที่ไม่มีแผ่นดินไหวเลยนานที่สุดคือเท่าไหร่

In [27]:
time_diff = df.index.to_series().diff()
time_diff

Time
2016-08-24 03:36:32.000                      NaT
2016-08-24 03:37:26.580   0 days 00:00:54.580000
2016-08-24 03:40:46.590   0 days 00:03:20.010000
2016-08-24 03:41:38.900   0 days 00:00:52.310000
2016-08-24 03:42:07.170   0 days 00:00:28.270000
                                   ...
2016-11-30 18:39:27.600   0 days 00:30:10.680000
2016-11-30 18:43:14.850   0 days 00:03:47.250000
2016-11-30 20:18:27.550   0 days 01:35:12.700000
2016-11-30 20:45:11.780   0 days 00:26:44.230000
2016-11-30 20:54:35.890   0 days 00:09:24.110000
Name: Time, Length: 8086, dtype: timedelta64[ns]

In [28]:
max_time_diff = time_diff.max()
max_time_diff

Timedelta('0 days 16:46:16.250000')

# 12 ระยะเวลาที่ไม่มีแผ่นดินไหวเลยนานที่สุดคือช่วงไหน ระบุเป็นเวลาเริ่มต้นและเวลาจบ

In [29]:
max_time_diff_index = time_diff.idxmax()
max_time_diff_index

Timestamp('2016-10-25 20:00:10.480000')

In [30]:
start_time = max_time_diff_index - time_diff[max_time_diff_index]
print("เริ่มต้น", start_time)

เริ่มต้น 2016-10-25 03:13:54.230000

In [31]:
end_time = max_time_diff_index
print("จบ", end_time)

จบ 2016-10-25 20:00:10.480000

# 13 . สมมติว่าเรานิยามแผ่นดินไหวที่รุนแรงนั้นต้องมี Magnitude มากกว่าการไหวครั้งก่อนและครั้งหลังอย่างน้อย 2.0 จงคัดเลือกเหตุการณ์แผ่นดินไหวที่รุนแรงออกมา

In [32]:
strong_earthquakes = df[(df['Magnitude'] > df['Magnitude'].shift(1) + 2.0) & 
                        (df['Magnitude'] > df['Magnitude'].shift(-1) + 2.0)]

In [33]:
strong_earthquakes

                         Latitude  Longitude  Depth/Km  Magnitude
Time
2016-08-24 04:33:28.890   42.7922    13.1507       8.0        5.4
2016-10-26 19:10:36.340   42.8802    13.1275       8.7        5.4
2016-10-26 21:18:05.850   42.9087    13.1288       7.5        5.9
2016-10-30 08:40:17.360   42.8322    13.1107       9.2        6.5

# 14 จากตารางข้อ 13. ให้เพิ่มคอลัมน์ใหม่ชื่อ hour_count แสดงจำนวนแผ่นดินไหวในชั่วโมงที่มีเหตุการณ์แผ่นดินไหวรุนแรงด้วย

In [34]:
for index, earthquake in strong_earthquakes.iterrows():
    start_time = index - pd.DateOffset(hours=1)
    end_time = index + pd.DateOffset(hours=1)
    count = df[(df.index >= start_time) & (df.index <= end_time)].shape[0]
    df.loc[index, 'hour_count'] = count

In [35]:
df

                         Latitude  Longitude  Depth/Km  Magnitude  hour_count
Time
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0         NaN
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5         NaN
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8         NaN
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9         NaN
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6         NaN
...                           ...        ...       ...        ...         ...
2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0         NaN
2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6         NaN
2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2         NaN
2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7         NaN
2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3         NaN

[8086 rows x 5 columns]

# 15 แสดงจำนวนแผ่นดินไหวแยกตาม 24 ชั่วโมง (เอาจำนวนแผ่นดินไหวของแต่ละชั่วโมง 0-23 ของทุกวันรวมกัน แสดงผลตามชั่วโมง)

In [36]:
df['hour'] = df.index.hour
df

,Latitude,Longitude,Depth/Km,Magnitude,hour_count,hour
Time,,,,,,
2016-08-24 03:36:32.000,42.6983,13.2335,8.1,6.0,NaN,3
2016-08-24 03:37:26.580,42.7123,13.2533,9.0,4.5,NaN,3
2016-08-24 03:40:46.590,42.7647,13.1723,9.7,3.8,NaN,3
2016-08-24 03:41:38.900,42.7803,13.1683,9.7,3.9,NaN,3
2016-08-24 03:42:07.170,42.7798,13.1575,9.7,3.6,NaN,3
...,...,...,...,...,...,...
2016-11-30 18:39:27.600,42.8903,13.0197,10.7,2.0,NaN,18
2016-11-30 18:43:14.850,42.9443,13.2003,8.6,2.6,NaN,18
2016-11-30 20:18:27.550,43.0092,13.1288,8.0,2.2,NaN,20
2016-11-30 20:45:11.780,43.0197,13.1017,9.3,2.7,NaN,20
2016-11-30 20:54:35.890,42.9935,13.0753,9.5,2.3,NaN,20

In [37]:
hourly_count = df.groupby('hour').size()
hourly_count

hour
0     333
1     303
2     307
3     303
4     343
5     395
6     403
7     401
8     363
9     388
10    336
11    327
12    338
13    315
14    351
15    331
16    295
17    317
18    317
19    340
20    314
21    310
22    317
23    339
dtype: int64

In [38]:
hourly_report = pd.DataFrame({
    'Hour': hourly_count.index,
    'Earthquake Count': hourly_count.values
})
hourly_report

    Hour  Earthquake Count
0      0               333
1      1               303
2      2               307
3      3               303
4      4               343
5      5               395
6      6               403
7      7               401
8      8               363
9      9               388
10    10               336
11    11               327
12    12               338
13    13               315
14    14               351
15    15               331
16    16               295
17    17               317
18    18               317
19    19               340
20    20               314
21    21               310
22    22               317
23    23               339

# 16  คำนวณค่าเฉลี่ยของความรุนแรงแผ่นดินไหวที่มากที่สุดในช่วง 3 วัน โดยหาความแรงของแผ่นดินไหวที่มากที่สุดในแต่ละวันก่อน แล้วใช้ sliding window หาค่าเฉลี่ยของทุก ๆ 3 วัน

In [39]:
import numpy as np

In [40]:
max_magnitude_per_day = df.resample('D')['Magnitude'].max()
max_magnitude_per_day

Time
2016-08-24    6.0
2016-08-25    4.4
2016-08-26    4.8
2016-08-27    4.0
2016-08-28    4.2
             ...
2016-11-26    3.2
2016-11-27    3.9
2016-11-28    3.6
2016-11-29    4.4
2016-11-30    3.1
Freq: D, Name: Magnitude, Length: 99, dtype: float64

In [41]:
rolling_average = max_magnitude_per_day.rolling(window=3, min_periods=1).mean()
rolling_average

Time
2016-08-24    6.000000
2016-08-25    5.200000
2016-08-26    5.066667
2016-08-27    4.400000
2016-08-28    4.333333
                ...
2016-11-26    3.066667
2016-11-27    3.400000
2016-11-28    3.566667
2016-11-29    3.966667
2016-11-30    3.700000
Freq: D, Name: Magnitude, Length: 99, dtype: float64