In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "https://raw.githubusercontent.com/PNYWT/Python-For-Data-Science/main/Data%20Science%20with%20Big%20data/Datasets/players.csv"
df = pd.read_csv(path)

In [3]:
df.head()

,surname,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df.loc[:,:"saves"]

### Sort Data

In [5]:
#ascending=False มากไปน้อย
#ascending=True น้อยไปมาก
df.sort_values("passes", ascending=False)

,surname,team,position,minutes,shots,passes,tackles,saves
536,Xavi,Spain,midfielder,515,4,563,6,0
519,Busquets,Spain,midfielder,511,0,466,15,0
517,Alonso,Spain,midfielder,506,9,465,18,0
189,Schweinsteiger,Germany,midfielder,531,5,423,23,0
530,Pique,Spain,defender,540,2,402,15,0
...,...,...,...,...,...,...,...,...
542,Eggimann,Switzerland,defender,1,0,0,0,0
338,Barron,New Zealand,midfielder,1,0,0,0,0
292,Konno,Japan,defender,2,0,0,0,0
511,Lee Seung-Yeoul,South Korea,forward,3,0,0,0,0
504,Kim Dong-Jin,South Korea,defender,1,0,0,0,0

In [6]:
df.sort_values(["passes", "shots"], ascending=[False,True]).head(20)

,surname,team,position,minutes,shots,passes,tackles,saves
536,Xavi,Spain,midfielder,515,4,563,6,0
519,Busquets,Spain,midfielder,511,0,466,15,0
517,Alonso,Spain,midfielder,506,9,465,18,0
189,Schweinsteiger,Germany,midfielder,531,5,423,23,0
530,Pique,Spain,defender,540,2,402,15,0
183,Lahm,Germany,defender,540,0,360,17,0
28,Messi,Argentina,forward,450,21,321,10,0
520,Capdevila,Spain,defender,540,1,310,10,0
335,van Bommel,Netherlands,midfielder,540,2,307,31,0
195,Annan,Ghana,midfielder,510,4,307,11,0
62,Gilberto Silva,Brazil,midfielder,450,3,299,11,0
523,Iniesta,Spain,midfielder,437,8,299,11,0
532,Ramos,Spain,defender,527,9,299,7,0
185,Mertesacker,Germany,defender,540,0,282,9,0
179,Khedira,Germany,midfielder,517,6,279,16,0
329,Sneijder,Netherlands,midfielder,532,15,279,7,0
336,van Bronckhorst,Netherlands,defender,540,1,271,10,0
191,Ozil,Germany,midfielder,497,7,266,3,0
326,Mathijsen,Netherlands,defender,450,1,265,8,0
323,Heitinga,Netherlands,defender,540,0,259,10,0

In [7]:
df = df.set_index("surname")
df

                  team    position  minutes  shots  passes  tackles  saves
surname
Abdoun         Algeria  midfielder       16      0       6        0      0
Belhadj        Algeria    defender      270      1     146        8      0
Boudebouz      Algeria  midfielder       74      3      28        1      0
Bougherra      Algeria    defender      270      1      89       11      0
Chaouchi       Algeria  goalkeeper       90      0      17        0      2
...                ...         ...      ...    ...     ...      ...    ...
Holden             USA  midfielder        4      0       2        0      0
Howard             USA  goalkeeper      390      0      81        0     14
Jozy Altidore      USA     forward      356      8      84        2      0
Onyewu             USA    defender      170      1      69        2      0
Torres             USA  midfielder       45      1      32        0      0

[595 rows x 7 columns]

In [8]:
df.sort_index(ascending=True)

,team,position,minutes,shots,passes,tackles,saves
surname,,,,,,,
Abdoun,Algeria,midfielder,16,0,6,0,0
Abe,Japan,midfielder,351,0,101,14,0
Abidal,France,defender,180,0,91,6,0
Abou Diaby,France,midfielder,270,1,111,5,0
Aboubakar,Cameroon,forward,46,2,16,0,0
...,...,...,...,...,...,...,...
de Zeeuw,Netherlands,midfielder,47,0,37,2,0
van Bommel,Netherlands,midfielder,540,2,307,31,0
van Bronckhorst,Netherlands,defender,540,1,271,10,0
van Persie,Netherlands,forward,479,14,108,1,0
von Bergen,Switzerland,defender,234,0,79,3,0

### Assignment Value

In [9]:
# df.loc["Algeria", "shots"] = 1.0

In [10]:
df.sort_index(ascending=True)

,team,position,minutes,shots,passes,tackles,saves
surname,,,,,,,
Abdoun,Algeria,midfielder,16,0,6,0,0
Abe,Japan,midfielder,351,0,101,14,0
Abidal,France,defender,180,0,91,6,0
Abou Diaby,France,midfielder,270,1,111,5,0
Aboubakar,Cameroon,forward,46,2,16,0,0
...,...,...,...,...,...,...,...
de Zeeuw,Netherlands,midfielder,47,0,37,2,0
van Bommel,Netherlands,midfielder,540,2,307,31,0
van Bronckhorst,Netherlands,defender,540,1,271,10,0
van Persie,Netherlands,forward,479,14,108,1,0
von Bergen,Switzerland,defender,234,0,79,3,0

In [11]:
df.loc[df.minutes == 570, "minutes"] = 600 #broadcast ทุกแถวที่เข้าเงื่อนไข

In [12]:
df.sort_values("minutes", ascending=False)

                     team    position  minutes  shots  passes  tackles  saves
surname
Maxi Pereira      Uruguay  midfielder      600      5     182       15      0
Arevalo Rios      Uruguay  midfielder      600      5     195       21      0
Muslera           Uruguay  goalkeeper      600      0      75        0     16
Perez             Uruguay  midfielder      567      2     252       34      0
Forlan            Uruguay     forward      564     18     202        0      0
...                   ...         ...      ...    ...     ...      ...    ...
Barron        New Zealand  midfielder        1      0       0        0      0
Petras           Slovakia    defender        1      0       0        0      0
Mesbah            Algeria  midfielder        1      0       1        0      0
Eggimann      Switzerland    defender        1      0       0        0      0
Kim Dong-Jin  South Korea    defender        1      0       0        0      0

[595 rows x 7 columns]

In [13]:
df.loc[df.minutes == 600, "minutes"]

surname
Arevalo Rios    600
Maxi Pereira    600
Muslera         600
Name: minutes, dtype: int64

In [14]:
df.loc[df.minutes == 600, "minutes"] = [590,580,570]
df.sort_values("minutes", ascending=False)

                     team    position  minutes  shots  passes  tackles  saves
surname
Arevalo Rios      Uruguay  midfielder      590      5     195       21      0
Maxi Pereira      Uruguay  midfielder      580      5     182       15      0
Muslera           Uruguay  goalkeeper      570      0      75        0     16
Perez             Uruguay  midfielder      567      2     252       34      0
Forlan            Uruguay     forward      564     18     202        0      0
...                   ...         ...      ...    ...     ...      ...    ...
Barron        New Zealand  midfielder        1      0       0        0      0
Petras           Slovakia    defender        1      0       0        0      0
Mesbah            Algeria  midfielder        1      0       1        0      0
Eggimann      Switzerland    defender        1      0       0        0      0
Kim Dong-Jin  South Korea    defender        1      0       0        0      0

[595 rows x 7 columns]

### Operations