In [213]:
import os

In [214]:
import pandas as pd
import numpy as np

### Import .csv file to dataframe(Table)

In [251]:
#Local data
ROOT_DIR = os.path.abspath(os.curdir)
path = "{}{}".format(ROOT_DIR,"./Datasets/players.csv")
df = pd.read_csv(path)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/CallmeOni/Documents/GitHub/Python-For-Data-Science/Data Science with Big data./Datasets/players.csv'

In [216]:
df.head()

,surname,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### แสดง Index ทั้งหมด
start, stop, step

In [217]:
df.index

RangeIndex(start=0, stop=595, step=1)

### แสดง Columns ทั้งหมด <- น่าจะใช้บ่อยเวลาจะ select column

In [218]:
df.columns

Index(['surname', 'team', 'position', 'minutes', 'shots', 'passes', 'tackles',
       'saves', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [219]:
df.shape #total index, total columns

(595, 26)

### check type data

In [220]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595 entries, 0 to 594
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   surname      595 non-null    object
 1   team         595 non-null    object
 2   position     595 non-null    object
 3   minutes      595 non-null    int64
 4   shots        595 non-null    int64
 5   passes       595 non-null    int64
 6   tackles      595 non-null    int64
 7   saves        595 non-null    int64
 8   Unnamed: 8   0 non-null      float64
 9   Unnamed: 9   0 non-null      float64
 10  Unnamed: 10  0 non-null      float64
 11  Unnamed: 11  0 non-null      float64
 12  Unnamed: 12  0 non-null      float64
 13  Unnamed: 13  0 non-null      float64
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(18), int64(5), object(3)
memory usage: 121.0+ KB

### select column to use
มี 2 วิธี<br>
.loc(column_name)<br>
.iloc(row_input,column_input) ค่าที่ input นับเหมือน index

#### iloc

In [221]:
df.iloc[0,2]

'midfielder'

In [222]:
df.iloc[0,:] #select all column of row 0
#df.iloc[0] # <- ได้เหมือนกัน

surname            Abdoun
team              Algeria
position       midfielder
minutes                16
shots                   0
passes                  6
tackles                 0
saves                   0
Unnamed: 8            NaN
Unnamed: 9            NaN
Unnamed: 10           NaN
Unnamed: 11           NaN
Unnamed: 12           NaN
Unnamed: 13           NaN
Unnamed: 14           NaN
Unnamed: 15           NaN
Unnamed: 16           NaN
Unnamed: 17           NaN
Unnamed: 18           NaN
Unnamed: 19           NaN
Unnamed: 20           NaN
Unnamed: 21           NaN
Unnamed: 22           NaN
Unnamed: 23           NaN
Unnamed: 24           NaN
Unnamed: 25           NaN
Name: 0, dtype: object

In [223]:
df.iloc[[4,1,2,3],:] #select all column of row 4,1,2,3
df.iloc[[4,1,2,3]] # ได้เหมือนกัน

,surname,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [224]:
df.iloc[[4,1,2,3],:3] #select 0,1,2 column of row 4,1,2,3
# df.iloc[[4,1,2,3],[0,1,2]]  #select 0,1,2 column of row 4,1,2,3

     surname     team    position
4   Chaouchi  Algeria  goalkeeper
1    Belhadj  Algeria    defender
2  Boudebouz  Algeria  midfielder
3  Bougherra  Algeria    defender

In [225]:
df.iloc[:11:2,:8] #เลือกเฉพาะ row คู่ ตั้งแต่ 0-10, column 0-7

      surname     team    position  minutes  shots  passes  tackles  saves
0      Abdoun  Algeria  midfielder       16      0       6        0      0
2   Boudebouz  Algeria  midfielder       74      3      28        1      0
4    Chaouchi  Algeria  goalkeeper       90      0      17        0      2
6     Ghezzal  Algeria     forward       40      3       8        0      0
8    Halliche  Algeria    defender      270      2      94        4      0
10      Lacen  Algeria  midfielder      270      0     158        8      0

### set_Index

In [226]:
df = df.set_index("surname") #surname ไปเป็น index
df

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Holden,USA,midfielder,4,0,2,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Howard,USA,goalkeeper,390,0,81,0,14,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jozy Altidore,USA,forward,356,8,84,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Onyewu,USA,defender,170,1,69,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Torres,USA,midfielder,45,1,32,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [227]:
df.iloc[:,:8]

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8
surname,,,,,,,,
Abdoun,Algeria,midfielder,16,0,6,0,0,NaN
Belhadj,Algeria,defender,270,1,146,8,0,NaN
Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN
Bougherra,Algeria,defender,270,1,89,11,0,NaN
Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN
...,...,...,...,...,...,...,...,...
Holden,USA,midfielder,4,0,2,0,0,NaN
Howard,USA,goalkeeper,390,0,81,0,14,NaN
Jozy Altidore,USA,forward,356,8,84,2,0,NaN
Onyewu,USA,defender,170,1,69,2,0,NaN
Torres,USA,midfielder,45,1,32,0,0,NaN

#### loc
*เวลา slide จะนับตัว stop มาแสดงด้วย

In [228]:
df.loc['Abdoun',"position"]

'midfielder'

In [229]:
df.loc[['Abdoun',"Howard","Messi"],"position"]

surname
Abdoun    midfielder
Howard    goalkeeper
Messi        forward
Name: position, dtype: object

In [230]:
df.loc[:"Ghezzal"]

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Djebbour,Algeria,forward,123,3,19,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ghezzal,Algeria,forward,40,3,8,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [231]:
df.loc[:"Ghezzal",:"saves"]

              team    position  minutes  shots  passes  tackles  saves
surname
Abdoun     Algeria  midfielder       16      0       6        0      0
Belhadj    Algeria    defender      270      1     146        8      0
Boudebouz  Algeria  midfielder       74      3      28        1      0
Bougherra  Algeria    defender      270      1      89       11      0
Chaouchi   Algeria  goalkeeper       90      0      17        0      2
Djebbour   Algeria     forward      123      3      19        1      0
Ghezzal    Algeria     forward       40      3       8        0      0

### Short cuts loc, iloc
พิมพ์ย่อแต่จะเลือกได้แค่ column ไม่สามารถเลือก index ได้

In [232]:
df["team"] #select team column all row

surname
Abdoun           Algeria
Belhadj          Algeria
Boudebouz        Algeria
Bougherra        Algeria
Chaouchi         Algeria
                  ...
Holden               USA
Howard               USA
Jozy Altidore        USA
Onyewu               USA
Torres               USA
Name: team, Length: 595, dtype: object

In [233]:
df[["team", "position"]]

                  team    position
surname
Abdoun         Algeria  midfielder
Belhadj        Algeria    defender
Boudebouz      Algeria  midfielder
Bougherra      Algeria    defender
Chaouchi       Algeria  goalkeeper
...                ...         ...
Holden             USA  midfielder
Howard             USA  goalkeeper
Jozy Altidore      USA     forward
Onyewu             USA    defender
Torres             USA  midfielder

[595 rows x 2 columns]

In [234]:
df.team
#df.position

surname
Abdoun           Algeria
Belhadj          Algeria
Boudebouz        Algeria
Bougherra        Algeria
Chaouchi         Algeria
                  ...
Holden               USA
Howard               USA
Jozy Altidore        USA
Onyewu               USA
Torres               USA
Name: team, Length: 595, dtype: object

### Boolean filtering

In [235]:
df.shots > 20

surname
Abdoun           False
Belhadj          False
Boudebouz        False
Bougherra        False
Chaouchi         False
                 ...
Holden           False
Howard           False
Jozy Altidore    False
Onyewu           False
Torres           False
Name: shots, Length: 595, dtype: bool

In [236]:
df.loc[df.shots > 20]

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Messi,Argentina,forward,450,21,321,10,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gyan,Ghana,forward,501,27,151,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Villa,Spain,forward,529,22,169,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [237]:
df.loc[df["shots"] > 20, "passes"]

surname
Messi    321
Gyan     151
Villa    169
Name: passes, dtype: int64

In [238]:
df.loc[df["team"] == "Spain", :"position"].head(5)

            team    position
surname
Alonso     Spain  midfielder
Arbeloa    Spain    defender
Busquets   Spain  midfielder
Capdevila  Spain    defender
Casillas   Spain  goalkeeper

### Multiple Condition

In [239]:
#อยากรู้ว่า ใครผู้เล่นคนไหน shots > 15 ประตู และ passes > 200 พร้อมระบุทีมมาด้วยว่าอยู่ทีมอะไร
df.loc[(df.shots > 15) & (df.passes > 200), :"passes"]

               team position  minutes  shots  passes
surname
Messi     Argentina  forward      450     21     321
Podolski    Germany  forward      531     17     217
Forlan      Uruguay  forward      564     18     202

In [240]:
"Thailand".endswith("land")

True

In [241]:
df[df.team.str.endswith('land')].head()

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Ashley Cole,England,defender,360,0,142,12,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Barry,England,midfielder,264,2,171,8,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Carragher,England,defender,135,0,74,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Crouch,England,forward,17,1,7,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Defoe,England,forward,173,5,17,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [242]:
df[df.position.str.contains('forward')].head()

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
Djebbour,Algeria,forward,123,3,19,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ghezzal,Algeria,forward,40,3,8,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Saifi,Algeria,forward,15,1,3,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aguero,Argentina,forward,106,2,57,2,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Higuain,Argentina,forward,341,13,93,5,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [243]:
df[df.index.str.contains("M")].head()

,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
surname,,,,,,,,,,,,,,,,,,,,,
M'Bolhi,Algeria,goalkeeper,180,0,30,0,12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Matmour,Algeria,midfielder,255,3,68,3,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mesbah,Algeria,midfielder,1,0,1,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Di Maria,Argentina,midfielder,356,7,148,12,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mascherano,Argentina,midfielder,360,0,237,19,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
df.loc[(df.index.str.contains("M")) & (df.shots > 8) & (df.passes > 50), :"passes"]

                 team position  minutes  shots  passes
surname
Messi       Argentina  forward      450     21     321
Mphela   South Africa  forward      270     10      60

In [245]:
df.loc[((df.team == "England") | (df.team == "Argentina")) 
       & ((df.shots > 10) & (df.passes > 50) ) , :"passes"]

              team    position  minutes  shots  passes
surname
Higuain  Argentina     forward      341     13      93
Messi    Argentina     forward      450     21     321
Lampard    England  midfielder      360     11     232

In [246]:
df.query("shots >= 20")[["team","position","minutes","shots","passes"]]

              team position  minutes  shots
surname
Messi    Argentina  forward      450     21
Gyan         Ghana  forward      501     27
Villa        Spain  forward      529     22

In [247]:
df.loc[(df.shots >= 20) , :"passes"]

              team position  minutes  shots  passes
surname
Messi    Argentina  forward      450     21     321
Gyan         Ghana  forward      501     27     151
Villa        Spain  forward      529     22     169

### reset_index คืนค่า index

In [248]:
df = df.reset_index().head()
df

,surname,team,position,minutes,shots,passes,tackles,saves,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Abdoun,Algeria,midfielder,16,0,6,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Belhadj,Algeria,defender,270,1,146,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boudebouz,Algeria,midfielder,74,3,28,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bougherra,Algeria,defender,270,1,89,11,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chaouchi,Algeria,goalkeeper,90,0,17,0,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN