## 6614400266 Pakawat Tanyaphirom

In [1]:
import pandas as pd

## 1

In [2]:
df1 = pd.read_csv('./Datasets/italy_earthquakes_from_2016-08-24_to_2016-11-30.csv')
df1.sample(10)

                         Time  Latitude  Longitude  Depth/Km  Magnitude
2015  2016-09-16 03:08:26.980   42.8762    13.2630       9.8        2.0
7959  2016-11-29 02:32:24.750   43.0777    13.0848       7.8        2.0
5308  2016-11-04 03:30:38.050   43.0525    13.0582       9.9        2.1
3306  2016-10-29 05:15:23.660   42.8562    13.1587       9.4        2.1
1121  2016-08-28 02:41:46.060   42.8078    13.1502      10.3        2.6
1685  2016-09-05 11:07:23.770   42.8462    13.2093       7.6        2.8
1535  2016-09-03 01:44:05.110   42.5932    13.3113      11.6        2.0
692   2016-08-25 18:00:51.910   42.8285    13.2318       8.6        2.1
2374  2016-10-10 22:32:16.270   42.7528    13.1318       9.3        2.0
975   2016-08-27 02:03:25.050   42.6707    13.2747      10.4        2.4

## 2

In [3]:
df1.rename(columns={'Time':'Timestamp'},inplace = True)
df1['Timestamp'] = pd.to_datetime(df1.Timestamp)
df1 = df1.set_index('Timestamp')
df1

                         Latitude  Longitude  Depth/Km  Magnitude
Timestamp
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6
...                           ...        ...       ...        ...
2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0
2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6
2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2
2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7
2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3

[8086 rows x 4 columns]

## 3

In [4]:
df1['Magnitude'][df1.Magnitude == df1.Magnitude.max()]

Timestamp
2016-10-30 08:40:17.360    6.5
Name: Magnitude, dtype: float64

## 4

In [5]:
df1.loc['2016-10-30'].count().max()

389

## 5

In [6]:
save_df = df1[
    (df1.index >= '2016-10-30 07:00:00') & 
    (df1.index <= '2016-10-30 09:00:00')].sort_index(ascending=True)
save_df

                         Latitude  Longitude  Depth/Km  Magnitude
Timestamp
2016-10-30 07:01:14.060   42.8522    13.2443       8.9        2.4
2016-10-30 07:02:48.160   42.8538    13.2342       8.3        2.5
2016-10-30 07:14:48.470   42.8737    13.1502       9.2        2.4
2016-10-30 07:31:51.660   42.8753    13.0563       9.9        2.2
2016-10-30 08:04:07.760   42.7907    13.0872      10.2        2.4
2016-10-30 08:16:28.780   43.0622    13.0683       8.7        2.1
2016-10-30 08:31:19.890   42.9268    13.0287      10.8        2.0
2016-10-30 08:40:17.360   42.8322    13.1107       9.2        6.5
2016-10-30 08:41:17.010   42.7720    13.1358       9.3        4.3
2016-10-30 08:42:27.470   42.8795    13.0562       9.6        3.9
2016-10-30 08:43:08.810   42.7668    13.1383       9.7        4.0
2016-10-30 08:43:46.260   42.9000    13.1455       6.7        3.5
2016-10-30 08:44:30.670   42.8548    13.0853       8.3        4.6
2016-10-30 08:47:05.430   42.7868    13.1655       5.8        3.4
2016-10-30 08:48:27.160   42.7825    13.1632      10.8        3.8
2016-10-30 08:48:52.710   42.6828    13.2003      10.1        3.9
2016-10-30 08:50:43.710   42.8068    13.1952      10.5        3.6
2016-10-30 08:51:14.270   42.8925    13.0782       9.1        3.7
2016-10-30 08:51:55.240   42.7828    13.1332      10.1        3.8
2016-10-30 08:53:12.820   42.8090    13.0830      10.1        3.4
2016-10-30 08:53:54.740   42.7692    13.1643      10.8        3.2
2016-10-30 08:54:46.760   42.7958    13.2090      11.3        2.8
2016-10-30 08:55:41.060   42.7122    13.1968      10.8        4.1
2016-10-30 08:55:54.210   42.7508    13.2307      10.9        4.1
2016-10-30 08:56:05.780   42.7993    13.1077      10.5        4.2
2016-10-30 08:56:38.110   42.8437    13.1453       9.7        3.5
2016-10-30 08:57:21.560   42.8607    13.0922       9.5        3.8
2016-10-30 08:58:02.960   42.9078    13.1008       7.3        3.5
2016-10-30 08:59:31.500   42.8517    13.2118       9.9        3.9
2016-10-30 08:59:45.430   42.8235    13.1828      12.7        3.6

## 6

In [7]:
Ranking = df1['Magnitude'].sort_values(ascending=False)
R1 = Ranking.iloc[0:1].index - Ranking.iloc[1:2].index
R1

TimedeltaIndex(['67 days 05:03:45.360000'], dtype='timedelta64[ns]', name='Timestamp', freq=None)

## 7

In [8]:
save_df['Magnitude'].diff()

Timestamp
2016-10-30 07:01:14.060    NaN
2016-10-30 07:02:48.160    0.1
2016-10-30 07:14:48.470   -0.1
2016-10-30 07:31:51.660   -0.2
2016-10-30 08:04:07.760    0.2
2016-10-30 08:16:28.780   -0.3
2016-10-30 08:31:19.890   -0.1
2016-10-30 08:40:17.360    4.5
2016-10-30 08:41:17.010   -2.2
2016-10-30 08:42:27.470   -0.4
2016-10-30 08:43:08.810    0.1
2016-10-30 08:43:46.260   -0.5
2016-10-30 08:44:30.670    1.1
2016-10-30 08:47:05.430   -1.2
2016-10-30 08:48:27.160    0.4
2016-10-30 08:48:52.710    0.1
2016-10-30 08:50:43.710   -0.3
2016-10-30 08:51:14.270    0.1
2016-10-30 08:51:55.240    0.1
2016-10-30 08:53:12.820   -0.4
2016-10-30 08:53:54.740   -0.2
2016-10-30 08:54:46.760   -0.4
2016-10-30 08:55:41.060    1.3
2016-10-30 08:55:54.210    0.0
2016-10-30 08:56:05.780    0.1
2016-10-30 08:56:38.110   -0.7
2016-10-30 08:57:21.560    0.3
2016-10-30 08:58:02.960   -0.3
2016-10-30 08:59:31.500    0.4
2016-10-30 08:59:45.430   -0.3
Name: Magnitude, dtype: float64

## 8

In [9]:
df1.groupby(df1.index.day)['Magnitude'].count()

Timestamp
1     440
2     364
3     431
4     293
5     309
6     311
7     280
8     161
9     202
10    155
11    141
12    173
13    132
14    152
15    124
16    101
17    111
18     72
19    113
20     94
21     92
22     77
23     68
24    583
25    303
26    362
27    594
28    492
29    313
30    516
31    527
Name: Magnitude, dtype: int64

## 9

In [10]:
df1.groupby(df1.index.hour)['Magnitude'].count()

Timestamp
0     333
1     303
2     307
3     303
4     343
5     395
6     403
7     401
8     363
9     388
10    336
11    327
12    338
13    315
14    351
15    331
16    295
17    317
18    317
19    340
20    314
21    310
22    317
23    339
Name: Magnitude, dtype: int64

## 10

In [11]:
df1['Magnitude'].resample('5min').mean().max()

5.4

## 11

In [12]:
df1['Magnitude'][df1.Magnitude == 0].count()

0

## 12

In [13]:
df1.groupby(df1.index.hour)['Magnitude'].count() == 0

Timestamp
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
Name: Magnitude, dtype: bool

## 13

In [14]:
data = df1[
    (df1['Magnitude'] > df1['Magnitude'].shift(1) + 2.0) &
    (df1['Magnitude'] > df1['Magnitude'].shift(-1) + 2.0)
]
data

                         Latitude  Longitude  Depth/Km  Magnitude
Timestamp
2016-08-24 04:33:28.890   42.7922    13.1507       8.0        5.4
2016-10-26 19:10:36.340   42.8802    13.1275       8.7        5.4
2016-10-26 21:18:05.850   42.9087    13.1288       7.5        5.9
2016-10-30 08:40:17.360   42.8322    13.1107       9.2        6.5

## 14

In [15]:
df_New_col = df1
df_New_col['hour_count'] = 0
for i in df_New_col.index.hour:
        df_New_col.loc[df_New_col.index.hour == i, 'hour_count'] += 1
df_New_col

                         Latitude  Longitude  Depth/Km  Magnitude  hour_count
Timestamp
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0         303
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5         303
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8         303
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9         303
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6         303
...                           ...        ...       ...        ...         ...
2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0         317
2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6         317
2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2         314
2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7         314
2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3         314

[8086 rows x 5 columns]

## 15

In [16]:
df1.groupby(df1.index.hour)['Magnitude'].count()

Timestamp
0     333
1     303
2     307
3     303
4     343
5     395
6     403
7     401
8     363
9     388
10    336
11    327
12    338
13    315
14    351
15    331
16    295
17    317
18    317
19    340
20    314
21    310
22    317
23    339
Name: Magnitude, dtype: int64

## 16

In [17]:
df1['Magnitude'].rolling(window=3).max()

Timestamp
2016-08-24 03:36:32.000    NaN
2016-08-24 03:37:26.580    NaN
2016-08-24 03:40:46.590    6.0
2016-08-24 03:41:38.900    4.5
2016-08-24 03:42:07.170    3.9
                          ...
2016-11-30 18:39:27.600    2.3
2016-11-30 18:43:14.850    2.6
2016-11-30 20:18:27.550    2.6
2016-11-30 20:45:11.780    2.7
2016-11-30 20:54:35.890    2.7
Name: Magnitude, Length: 8086, dtype: float64